<div class="container-fluid" style="margin-top: 30px">
    <input type="text" ng-model="name">
    <div ng-repeat="patient in vm.patients | searchFilter:name" style="background-color: aliceblue;
    padding: 20px;margin-bottom: 5px">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <h2>{{patient.firstName}} {{patient.lastName}}</h2>
                <p><strong>DOB: </strong> {{patient.dob}} </p>
                <p><strong>Age: </strong> {{patient.age}} </p>
                <p><strong>Phone: </strong> {{patient.phone}} </p>
                <p><strong>Gender: </strong> {{patient.gender}} </p>
                <p><strong>About Myself: </strong> {{patient.description}} </p>
            </div>
        </div>
    </div>
</div>
</div>